<div>
    <form>
        <div>
            <div>
                <p>Имя*</p>
                <input  type="text" name="name">
            </div>
            <div>
                <p>Телефон*</p>
                <input type="tel" autocomplete="tel" name="phone">
            </div>
            <div>
                <p>Электронное почта</p>
                <input type="email" autocomplete="email" name="email">

            </div>
            <div>
                <p>Опишите задачу</p>
                <textarea maxlength="1000" name="text"> </textarea>
            </div>
            <div>
                <p>Прикрепите файл</p>
                <input type="file" name="file">
            </div>
            <div>
                <p>Примерный бюджет</p>
                <input type="text" name="budget">

            </div>
            <div>

                <p>Выберите услуги</p>

                <input  type="checkbox" name="service_slag_001">
                <p > Корпоративный сайт </p>

                <input  type="checkbox" name="service_slag_002">
                <p > Внутренний портал </p>

                <input  type="checkbox" name="service_slag_003">
                <p > CRM-система </p>

                <input  type="checkbox"  name="service_slag_004" >
                <p > ERP-система</p>

                <input  type="checkbox" name="service_slag_005">
                <p > E-commerce решение </p>

                <input  type="checkbox" name="service_slag_006">
                <p > Внедрение 1C </p>

                <input  type="checkbox"  name="service_slag_007">
                <p > Мобильное приложение </p>

                <input  type="checkbox"  name="service_slag_008" >
                <p > SMM</p>

            </div>
        </div>

        <button type="button" name="reserv">Отправить</button>


    </form>
</div>