$black: #181d27;
$white: #fff;
$darkBlue: #1c3b69;
$darkBlueBg: #1a365e;
$blue: #009cd4;
$footerBlack: #11141c;
$orange: #ff8800;
$beige: #f6f6f7;
$firstGradient: linear-gradient(0deg, rgba(26, 54, 94, 1) 0%, rgba(26, 54, 94, 0.05) 100%);
